In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,ID,n0,n1,n2,n3,n4,n5,n6,n7,n8,...,n4087,n4088,n4089,n4090,n4091,n4092,n4093,n4094,n4095,category
0,0,0.0,0.000000,1.272801,0.290501,0.581446,0.000000,0.000000,0,0.000000,...,1.645888,0.869640,0.302432,0.953719,0.022545,0.498048,0.0,0.034988,0.692382,Orange_Ripe
1,1,0.0,0.000000,1.542096,0.000000,0.896557,0.049978,0.000000,0,0.117847,...,1.504220,0.622686,0.588427,0.524415,0.305426,0.386204,0.0,0.000000,0.668196,Banana_Ripe
2,2,0.0,0.000000,1.098595,0.571866,0.500355,0.000000,0.000000,0,0.493137,...,1.169341,0.913239,0.064404,0.531270,0.000000,0.471604,0.0,0.000000,0.658250,Mango_Raw
3,3,0.0,0.101666,1.159194,0.599216,0.893206,0.000000,0.200139,0,0.645675,...,0.560686,1.243676,0.432523,0.701881,0.000000,0.589985,0.0,0.000000,0.591165,Leeche_Raw
4,4,0.0,0.000000,1.178603,0.362568,0.577602,0.000000,0.000000,0,0.079862,...,1.206032,0.736831,0.345906,0.878515,0.119000,0.261441,0.0,0.000000,0.458905,Mango_Ripe

In [4]:
df.category.value_counts()

Banana_Ripe          86
Apple_Ripe           81
Apple_Raw            78
Papaya_Ripe          77
Strawberry_Ripe      75
Mango_Raw            72
Strawberry_Raw       65
Banana_Raw           63
Coconut_Ripe         58
Pomengranate_Raw     58
Pomengranate_Ripe    57
Guava_Ripe           56
Leeche_Ripe          55
Coconut_Raw          54
Orange_Ripe          54
Papaya_Raw           51
Orange_Raw           48
Mango_Ripe           46
Guava_Raw            45
Leeche_Raw           37
Name: category, dtype: int64

In [5]:
X = df.iloc[:,1:4097]
y = df.iloc[:,4097:4098]
X.shape

(1216, 4096)

In [6]:
df['category'].unique()

array(['Orange_Ripe', 'Banana_Ripe', 'Mango_Raw', 'Leeche_Raw',
       'Mango_Ripe', 'Papaya_Ripe', 'Guava_Ripe', 'Apple_Ripe',
       'Pomengranate_Ripe', 'Guava_Raw', 'Strawberry_Raw', 'Apple_Raw',
       'Leeche_Ripe', 'Papaya_Raw', 'Strawberry_Ripe', 'Pomengranate_Raw',
       'Coconut_Ripe', 'Banana_Raw', 'Coconut_Raw', 'Orange_Raw'],
      dtype=object)

In [7]:
y

             category
0         Orange_Ripe
1         Banana_Ripe
2           Mango_Raw
3          Leeche_Raw
4          Mango_Ripe
...               ...
1211  Strawberry_Ripe
1212      Banana_Ripe
1213      Banana_Ripe
1214       Guava_Ripe
1215       Guava_Ripe

[1216 rows x 1 columns]

In [8]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
pca = PCA(n_components= 100)
X = pca.fit(X).transform(X)
lda = LinearDiscriminantAnalysis(n_components = 19)
X = lda.fit(X,y).transform(X)

C:\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
X.shape

(1216, 19)

In [10]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters = 20, init = 'random', n_init = 10, max_iter = 300, tol = 1e-04, random_state = 0)
y_km = km.fit_predict(X)

In [11]:
y_km.shape
X.shape
X = np.c_[X,y_km]

In [12]:
X.shape

(1216, 20)

In [13]:
from sklearn.preprocessing import LabelEncoder
lr = LabelEncoder()
y = lr.fit_transform(y)
y.shape
y

C:\Python39\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([13,  3, 10, ...,  3,  7,  7])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state = 22,stratify=y)

In [15]:
y_df_train = pd.DataFrame(y_train)
y_df_train.value_counts()
y_df_test = pd.DataFrame(y_test)
y_df_test.value_counts()

3     17
0     16
1     16
15    16
19    15
10    14
2     13
18    13
5     12
16    12
7     11
9     11
4     11
13    11
17    11
12    10
14    10
6      9
11     9
8      7
dtype: int64

In [16]:
sc = StandardScaler()
X_train_new = sc.fit_transform(X_train)
X_test_new = sc.transform(X_test)

In [17]:
pca.explained_variance_ratio_

array([0.18386386, 0.10431649, 0.07916443, 0.0596286 , 0.04827613,
       0.0457618 , 0.04017171, 0.03068512, 0.02701961, 0.02302021,
       0.02050677, 0.01890982, 0.01531521, 0.0138934 , 0.01303511,
       0.01168046, 0.01087322, 0.01074306, 0.00955301, 0.00897982,
       0.00882894, 0.00791214, 0.00729886, 0.00691926, 0.00637281,
       0.00595265, 0.00548114, 0.00520303, 0.00512476, 0.00501876,
       0.00483369, 0.00462773, 0.00415368, 0.00385861, 0.00375702,
       0.00367946, 0.00353999, 0.00342299, 0.00338668, 0.00324768,
       0.00283215, 0.00281632, 0.00270695, 0.00261782, 0.00250656,
       0.00241729, 0.00234585, 0.00230115, 0.00213307, 0.00210855,
       0.00210258, 0.00202449, 0.00189052, 0.00183984, 0.00177971,
       0.00174157, 0.00167449, 0.00159767, 0.00155794, 0.0015434 ,
       0.0014997 , 0.00143709, 0.00142309, 0.00135408, 0.00131337,
       0.00124946, 0.0012001 , 0.00118983, 0.00111725, 0.001092  ,
       0.0010594 , 0.00101622, 0.00099295, 0.00097808, 0.0009587 ,
       0.0009266 , 0.00091892, 0.00088751, 0.00086719, 0.00084776,
       0.00081799, 0.00080539, 0.00078623, 0.00075891, 0.00073396,
       0.00071032, 0.00069058, 0.00066876, 0.00066435, 0.00063883,
       0.00061527, 0.00060546, 0.00059947, 0.00057611, 0.00057066,
       0.00056362, 0.00055295, 0.00053321, 0.0005212 , 0.00050226])

In [18]:
pca.explained_variance_ratio_.cumsum()

array([0.18386386, 0.28818034, 0.36734477, 0.42697337, 0.4752495 ,
       0.52101131, 0.56118302, 0.59186814, 0.61888775, 0.64190796,
       0.66241473, 0.68132455, 0.69663976, 0.71053315, 0.72356826,
       0.73524872, 0.74612194, 0.75686501, 0.76641801, 0.77539783,
       0.78422678, 0.79213891, 0.79943777, 0.80635703, 0.81272984,
       0.81868249, 0.82416363, 0.82936666, 0.83449142, 0.83951018,
       0.84434387, 0.8489716 , 0.85312529, 0.85698389, 0.86074091,
       0.86442037, 0.86796036, 0.87138335, 0.87477003, 0.87801772,
       0.88084987, 0.88366619, 0.88637313, 0.88899096, 0.89149751,
       0.8939148 , 0.89626065, 0.8985618 , 0.90069487, 0.90280342,
       0.90490599, 0.90693049, 0.90882101, 0.91066085, 0.91244056,
       0.91418213, 0.91585662, 0.91745429, 0.91901223, 0.92055563,
       0.92205533, 0.92349242, 0.92491551, 0.92626959, 0.92758296,
       0.92883242, 0.93003252, 0.93122235, 0.9323396 , 0.9334316 ,
       0.934491  , 0.93550723, 0.93650018, 0.93747826, 0.93843696,
       0.93936355, 0.94028247, 0.94116999, 0.94203718, 0.94288494,
       0.94370293, 0.94450832, 0.94529455, 0.94605347, 0.94678742,
       0.94749775, 0.94818832, 0.94885709, 0.94952144, 0.95016027,
       0.95077554, 0.951381  , 0.95198048, 0.95255659, 0.95312724,
       0.95369087, 0.95424382, 0.95477703, 0.95529823, 0.95580048])

In [19]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train_new,y_train)

LogisticRegression()

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
y_pred1 = clf.predict(X_train_new)
accuracy_score(y_train,y_pred1)

0.941358024691358

In [22]:
y_pred = clf.predict(X_test_new)

In [23]:
y_pred

array([ 0, 13, 16, 16, 11,  1,  2, 17,  1, 18, 19,  7, 13, 10,  4,  7,  0,
       14,  8,  1, 19, 14,  3, 15, 16, 15, 10, 10,  6, 10, 11,  2,  2,  4,
       14,  8,  3, 16,  4,  7, 14, 18,  0, 10, 15,  3,  1,  3, 12,  9, 16,
       17, 11, 13, 19,  3, 14,  7,  5, 19,  0,  2,  1, 11, 17, 19,  1,  3,
        8,  6, 17, 13,  2, 18,  8, 16,  9, 19, 12,  8,  1,  9,  2, 19,  0,
       18, 15,  0,  1,  1,  9, 13, 18, 16, 10,  2, 10, 10, 13,  8,  2, 11,
        9, 10,  5, 16, 13,  8,  3,  0, 18,  0, 14, 12, 15, 15, 16,  3,  2,
        1,  3,  3,  4, 15,  7,  9, 12,  1, 10,  1, 18, 15,  1,  6, 13,  6,
       19,  3,  9, 17, 10,  5,  7,  7, 13, 16,  0,  9,  5,  3, 15, 17, 15,
        3,  3,  1, 14, 13, 15, 12,  8,  4, 14,  5, 19,  6,  0, 17,  9,  7,
        4, 16, 12,  5,  3, 12, 11,  3, 16, 10, 17, 19,  2, 10, 10, 11,  9,
        6, 13,  5,  2,  7,  0, 18,  0,  3,  0, 13, 12, 18, 11,  1,  4,  0,
       15, 17,  5,  0, 11, 19,  4,  9, 13,  7,  1,  6, 10, 19,  3, 15,  0,
       11,  9, 17,  6, 15,  1,  5, 19, 12, 19, 15, 15, 16, 19,  4, 16,  0,
        2,  3,  0, 15, 19, 10])

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8770491803278688

In [25]:
df_new = pd.read_csv('test.csv')

In [26]:
df_new.head()

,ID,n0,n1,n2,n3,n4,n5,n6,n7,n8,...,n4086,n4087,n4088,n4089,n4090,n4091,n4092,n4093,n4094,n4095
0,0,0.0,0.000000,0.908889,0.251257,0.662262,0.042495,0.000000,0,0.964784,...,0.694072,1.146161,1.483842,0.717836,0.472616,0.000000,0.488022,0.0,0.0,0.655670
1,1,0.0,0.000000,1.191055,0.407350,0.441898,0.000000,0.334858,0,0.295357,...,0.273436,1.466932,0.940850,0.470344,1.032085,0.000000,0.654070,0.0,0.0,0.614493
2,2,0.0,0.261903,0.992782,0.301102,0.636006,0.009558,0.009448,0,0.974949,...,0.000000,0.769983,0.834360,0.369656,1.000858,0.431571,0.361993,0.0,0.0,0.392158
3,3,0.0,0.000000,1.352401,0.346003,0.401412,0.000000,0.000000,0,0.450667,...,0.339935,1.325595,0.981124,0.486731,0.747392,0.000000,0.300671,0.0,0.0,0.628365
4,4,0.0,0.000000,1.114281,0.696140,0.121505,0.000000,0.000000,0,0.591384,...,0.093661,0.875113,0.360689,0.659230,0.546044,0.000000,0.427255,0.0,0.0,0.835671

In [27]:
X_pred = df_new.iloc[:,1:4098]

In [28]:
X_pred

,n0,n1,n2,n3,n4,n5,n6,n7,n8,n9,...,n4086,n4087,n4088,n4089,n4090,n4091,n4092,n4093,n4094,n4095
0,0.0,0.000000,0.908889,0.251257,0.662262,0.042495,0.000000,0,0.964784,0.0,...,0.694072,1.146161,1.483842,0.717836,0.472616,0.000000,0.488022,0.0,0.0,0.655670
1,0.0,0.000000,1.191055,0.407350,0.441898,0.000000,0.334858,0,0.295357,0.0,...,0.273436,1.466932,0.940850,0.470344,1.032085,0.000000,0.654070,0.0,0.0,0.614493
2,0.0,0.261903,0.992782,0.301102,0.636006,0.009558,0.009448,0,0.974949,0.0,...,0.000000,0.769983,0.834360,0.369656,1.000858,0.431571,0.361993,0.0,0.0,0.392158
3,0.0,0.000000,1.352401,0.346003,0.401412,0.000000,0.000000,0,0.450667,0.0,...,0.339935,1.325595,0.981124,0.486731,0.747392,0.000000,0.300671,0.0,0.0,0.628365
4,0.0,0.000000,1.114281,0.696140,0.121505,0.000000,0.000000,0,0.591384,0.0,...,0.093661,0.875113,0.360689,0.659230,0.546044,0.000000,0.427255,0.0,0.0,0.835671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,0.0,0.000000,1.066927,0.495523,0.020179,0.010377,0.000000,0,0.190290,0.0,...,0.182461,2.003547,0.602592,0.296488,0.673558,0.000000,0.287565,0.0,0.0,0.595830
411,0.0,0.000000,1.044428,0.630166,0.214812,0.000000,0.297711,0,0.992859,0.0,...,0.000000,0.836084,1.055142,0.272300,1.213401,0.106611,0.494905,0.0,0.0,0.321924
412,0.0,0.000000,1.524889,0.000000,0.791997,0.000000,0.000000,0,0.070156,0.0,...,0.269538,1.565473,0.857422,0.642805,0.870113,0.134546,0.150362,0.0,0.0,0.724412
413,0.0,0.000000,1.066159,0.809718,0.601291,0.000000,0.000000,0,0.728140,0.0,...,0.407508,0.740154,0.947700,0.000000,0.625964,0.000000,0.013839,0.0,0.0,0.367881
414,0.0,0.235139,1.058271,0.327235,0.801501,0.000000,0.000000,0,1.372816,0.0,...,0.373050,0.369727,1.159917,0.287697,0.846405,0.315870,0.000000,0.0,0.0,0.347072

In [29]:
X_pred_trans = pca.transform(X_pred)
X_pred_v = lda.transform(X_pred_trans)
yo = km.predict(X_pred_v)
X_pred_vo = np.c_[X_pred_v,yo]
X_pred_no = sc.transform(X_pred_vo)

In [30]:
y_pred_trans = clf.predict(X_pred_no)

In [31]:
y_pred_trans

array([ 8, 12, 17, 18, 13,  3, 13,  1,  4,  5, 19,  3, 10, 15,  7,  9, 12,
        2, 11, 12,  6,  3, 13, 16, 12, 19,  0, 13,  5, 13,  3,  1, 18,  2,
       10,  4,  1, 12, 12, 16,  6, 14,  8, 15,  8,  1,  8,  1,  3,  5, 14,
       11, 10,  7,  1,  9, 11, 10,  4, 19,  3,  6,  0, 16, 18,  0, 10,  6,
        6, 16,  7, 18,  4, 15,  4,  7,  5, 13,  2, 14, 10,  0,  1,  5,  6,
        1, 10, 15,  3, 12, 16, 15, 16,  1, 11,  0,  8, 12,  3, 16, 14, 13,
       16,  5, 13,  1,  0, 11,  1, 19,  4, 18, 18, 11, 11, 12, 18,  5, 17,
        6,  1, 15,  5,  0,  6, 13, 13,  1,  1, 19,  5, 10, 18, 14, 18,  8,
        2,  4, 11,  1,  4, 10, 10, 12, 18,  4, 16,  3, 17, 16, 11,  8, 19,
       17, 10, 16, 19, 13, 13, 18,  5,  3,  9,  3, 10, 11, 13,  0,  0, 12,
        0,  9,  1, 18,  7,  0, 17, 15, 16, 18,  3,  4,  2, 14,  9,  3,  3,
        9, 11,  6,  7, 11,  4,  1, 12,  2,  1,  2, 14, 19, 19,  0,  9, 15,
        6,  2,  8,  3,  3,  9, 19, 18, 17, 19, 17,  2,  0,  0, 18,  1, 12,
        5,  5,  7, 11,  1, 19, 16, 19, 18, 10, 15, 19, 10, 18,  6, 16, 11,
       10,  7,  0,  5,  1,  8,  4,  3,  1,  3,  6, 14, 12,  3,  9,  0,  1,
        1,  7, 12,  2, 15,  4,  9, 12,  0, 16,  0, 10,  3, 13,  5, 15,  8,
       14, 15, 12,  4, 17,  3, 19, 16,  9,  1,  3, 19,  1,  0, 15, 15,  9,
       19,  2,  0, 11,  5, 10,  7, 19, 19,  4,  0,  1, 16,  7,  6,  8, 17,
       17, 19,  3,  1,  0,  9, 16,  7,  7, 10,  7, 19, 15,  7, 17, 14, 18,
       18,  6, 18, 17,  9, 13,  6,  9, 14, 15, 17,  5, 17, 15, 19, 16,  8,
        0, 10,  0,  0, 15,  2, 14,  2,  9, 17,  4, 11, 16, 14,  7, 19,  0,
        5, 18, 16,  0, 16, 19,  0,  0,  0, 16,  9, 17, 19,  2, 12,  6, 11,
        5, 15, 14,  5,  0,  3, 11, 10,  4,  6, 16,  9,  2, 12, 13,  2,  2,
       11,  1,  6,  3,  9,  2, 15, 16,  1, 14, 13,  1,  8, 17, 19,  5,  3,
       10, 10, 13, 17,  3, 12, 18])

In [32]:
y_only = lr.inverse_transform(y_pred_trans)

In [35]:
new_df = pd.DataFrame(y_only)
new_df.to_csv("submission.csv")

In [33]:
y_only

array(['Leeche_Raw', 'Orange_Raw', 'Pomengranate_Ripe', 'Strawberry_Raw',
       'Orange_Ripe', 'Banana_Ripe', 'Orange_Ripe', 'Apple_Ripe',
       'Coconut_Raw', 'Coconut_Ripe', 'Strawberry_Ripe', 'Banana_Ripe',
       'Mango_Raw', 'Papaya_Ripe', 'Guava_Ripe', 'Leeche_Ripe',
       'Orange_Raw', 'Banana_Raw', 'Mango_Ripe', 'Orange_Raw',
       'Guava_Raw', 'Banana_Ripe', 'Orange_Ripe', 'Pomengranate_Raw',
       'Orange_Raw', 'Strawberry_Ripe', 'Apple_Raw', 'Orange_Ripe',
       'Coconut_Ripe', 'Orange_Ripe', 'Banana_Ripe', 'Apple_Ripe',
       'Strawberry_Raw', 'Banana_Raw', 'Mango_Raw', 'Coconut_Raw',
       'Apple_Ripe', 'Orange_Raw', 'Orange_Raw', 'Pomengranate_Raw',
       'Guava_Raw', 'Papaya_Raw', 'Leeche_Raw', 'Papaya_Ripe',
       'Leeche_Raw', 'Apple_Ripe', 'Leeche_Raw', 'Apple_Ripe',
       'Banana_Ripe', 'Coconut_Ripe', 'Papaya_Raw', 'Mango_Ripe',
       'Mango_Raw', 'Guava_Ripe', 'Apple_Ripe', 'Leeche_Ripe',
       'Mango_Ripe', 'Mango_Raw', 'Coconut_Raw', 'Strawberry_Ripe',
       'Banana_Ripe', 'Guava_Raw', 'Apple_Raw', 'Pomengranate_Raw',
       'Strawberry_Raw', 'Apple_Raw', 'Mango_Raw', 'Guava_Raw',
       'Guava_Raw', 'Pomengranate_Raw', 'Guava_Ripe', 'Strawberry_Raw',
       'Coconut_Raw', 'Papaya_Ripe', 'Coconut_Raw', 'Guava_Ripe',
       'Coconut_Ripe', 'Orange_Ripe', 'Banana_Raw', 'Papaya_Raw',
       'Mango_Raw', 'Apple_Raw', 'Apple_Ripe', 'Coconut_Ripe',
       'Guava_Raw', 'Apple_Ripe', 'Mango_Raw', 'Papaya_Ripe',
       'Banana_Ripe', 'Orange_Raw', 'Pomengranate_Raw', 'Papaya_Ripe',
       'Pomengranate_Raw', 'Apple_Ripe', 'Mango_Ripe', 'Apple_Raw',
       'Leeche_Raw', 'Orange_Raw', 'Banana_Ripe', 'Pomengranate_Raw',
       'Papaya_Raw', 'Orange_Ripe', 'Pomengranate_Raw', 'Coconut_Ripe',
       'Orange_Ripe', 'Apple_Ripe', 'Apple_Raw', 'Mango_Ripe',
       'Apple_Ripe', 'Strawberry_Ripe', 'Coconut_Raw', 'Strawberry_Raw',
       'Strawberry_Raw', 'Mango_Ripe', 'Mango_Ripe', 'Orange_Raw',
       'Strawberry_Raw', 'Coconut_Ripe', 'Pomengranate_Ripe', 'Guava_Raw',
       'Apple_Ripe', 'Papaya_Ripe', 'Coconut_Ripe', 'Apple_Raw',
       'Guava_Raw', 'Orange_Ripe', 'Orange_Ripe', 'Apple_Ripe',
       'Apple_Ripe', 'Strawberry_Ripe', 'Coconut_Ripe', 'Mango_Raw',
       'Strawberry_Raw', 'Papaya_Raw', 'Strawberry_Raw', 'Leeche_Raw',
       'Banana_Raw', 'Coconut_Raw', 'Mango_Ripe', 'Apple_Ripe',
       'Coconut_Raw', 'Mango_Raw', 'Mango_Raw', 'Orange_Raw',
       'Strawberry_Raw', 'Coconut_Raw', 'Pomengranate_Raw', 'Banana_Ripe',
       'Pomengranate_Ripe', 'Pomengranate_Raw', 'Mango_Ripe',
       'Leeche_Raw', 'Strawberry_Ripe', 'Pomengranate_Ripe', 'Mango_Raw',
       'Pomengranate_Raw', 'Strawberry_Ripe', 'Orange_Ripe',
       'Orange_Ripe', 'Strawberry_Raw', 'Coconut_Ripe', 'Banana_Ripe',
       'Leeche_Ripe', 'Banana_Ripe', 'Mango_Raw', 'Mango_Ripe',
       'Orange_Ripe', 'Apple_Raw', 'Apple_Raw', 'Orange_Raw', 'Apple_Raw',
       'Leeche_Ripe', 'Apple_Ripe', 'Strawberry_Raw', 'Guava_Ripe',
       'Apple_Raw', 'Pomengranate_Ripe', 'Papaya_Ripe',
       'Pomengranate_Raw', 'Strawberry_Raw', 'Banana_Ripe', 'Coconut_Raw',
       'Banana_Raw', 'Papaya_Raw', 'Leeche_Ripe', 'Banana_Ripe',
       'Banana_Ripe', 'Leeche_Ripe', 'Mango_Ripe', 'Guava_Raw',
       'Guava_Ripe', 'Mango_Ripe', 'Coconut_Raw', 'Apple_Ripe',
       'Orange_Raw', 'Banana_Raw', 'Apple_Ripe', 'Banana_Raw',
       'Papaya_Raw', 'Strawberry_Ripe', 'Strawberry_Ripe', 'Apple_Raw',
       'Leeche_Ripe', 'Papaya_Ripe', 'Guava_Raw', 'Banana_Raw',
       'Leeche_Raw', 'Banana_Ripe', 'Banana_Ripe', 'Leeche_Ripe',
       'Strawberry_Ripe', 'Strawberry_Raw', 'Pomengranate_Ripe',
       'Strawberry_Ripe', 'Pomengranate_Ripe', 'Banana_Raw', 'Apple_Raw',
       'Apple_Raw', 'Strawberry_Raw', 'Apple_Ripe', 'Orange_Raw',
       'Coconut_Ripe', 'Coconut_Ripe', 'Guava_Ripe', 'Mango_Ripe',
       'Apple_Ripe', 'Strawberry_Ripe', 'Pomengranate_Raw',
       'Strawberry_Ripe', 'Strawberry_Raw', 'Mango_Raw', 'Papaya_Ripe',
       'Strawberry_Ripe', 'Mango_Raw', 'Strawberry_Raw', 'Guava_Raw',
       'Pomengranate_Raw', 'Mango_Ripe', 'Mango_Raw', 'Guava_Ripe',
       'Apple_Raw', 'Coconut_Ripe', 'Apple_Ripe', 'Leeche_Raw',
       'Coconut_Raw', 'Banana_Ripe', 'Apple_Ripe', 'Banana_Ripe',
       'Guava_Raw', 'Papaya_Raw', 'Orange_Raw', 'Banana_Ripe',
       'Leeche_Ripe', 'Apple_Raw', 'Apple_Ripe', 'Apple_Ripe',
       'Guava_Ripe', 'Orange_Raw', 'Banana_Raw', 'Papaya_Ripe',
       'Coconut_Raw', 'Leeche_Ripe', 'Orange_Raw', 'Apple_Raw',
       'Pomengranate_Raw', 'Apple_Raw', 'Mango_Raw', 'Banana_Ripe',
       'Orange_Ripe', 'Coconut_Ripe', 'Papaya_Ripe', 'Leeche_Raw',
       'Papaya_Raw', 'Papaya_Ripe', 'Orange_Raw', 'Coconut_Raw',
       'Pomengranate_Ripe', 'Banana_Ripe', 'Strawberry_Ripe',
       'Pomengranate_Raw', 'Leeche_Ripe', 'Apple_Ripe', 'Banana_Ripe',
       'Strawberry_Ripe', 'Apple_Ripe', 'Apple_Raw', 'Papaya_Ripe',
       'Papaya_Ripe', 'Leeche_Ripe', 'Strawberry_Ripe', 'Banana_Raw',
       'Apple_Raw', 'Mango_Ripe', 'Coconut_Ripe', 'Mango_Raw',
       'Guava_Ripe', 'Strawberry_Ripe', 'Strawberry_Ripe', 'Coconut_Raw',
       'Apple_Raw', 'Apple_Ripe', 'Pomengranate_Raw', 'Guava_Ripe',
       'Guava_Raw', 'Leeche_Raw', 'Pomengranate_Ripe',
       'Pomengranate_Ripe', 'Strawberry_Ripe', 'Banana_Ripe',
       'Apple_Ripe', 'Apple_Raw', 'Leeche_Ripe', 'Pomengranate_Raw',
       'Guava_Ripe', 'Guava_Ripe', 'Mango_Raw', 'Guava_Ripe',
       'Strawberry_Ripe', 'Papaya_Ripe', 'Guava_Ripe',
       'Pomengranate_Ripe', 'Papaya_Raw', 'Strawberry_Raw',
       'Strawberry_Raw', 'Guava_Raw', 'Strawberry_Raw',
       'Pomengranate_Ripe', 'Leeche_Ripe', 'Orange_Ripe', 'Guava_Raw',
       'Leeche_Ripe', 'Papaya_Raw', 'Papaya_Ripe', 'Pomengranate_Ripe',
       'Coconut_Ripe', 'Pomengranate_Ripe', 'Papaya_Ripe',
       'Strawberry_Ripe', 'Pomengranate_Raw', 'Leeche_Raw', 'Apple_Raw',
       'Mango_Raw', 'Apple_Raw', 'Apple_Raw', 'Papaya_Ripe', 'Banana_Raw',
       'Papaya_Raw', 'Banana_Raw', 'Leeche_Ripe', 'Pomengranate_Ripe',
       'Coconut_Raw', 'Mango_Ripe', 'Pomengranate_Raw', 'Papaya_Raw',
       'Guava_Ripe', 'Strawberry_Ripe', 'Apple_Raw', 'Coconut_Ripe',
       'Strawberry_Raw', 'Pomengranate_Raw', 'Apple_Raw',
       'Pomengranate_Raw', 'Strawberry_Ripe', 'Apple_Raw', 'Apple_Raw',
       'Apple_Raw', 'Pomengranate_Raw', 'Leeche_Ripe',
       'Pomengranate_Ripe', 'Strawberry_Ripe', 'Banana_Raw', 'Orange_Raw',
       'Guava_Raw', 'Mango_Ripe', 'Coconut_Ripe', 'Papaya_Ripe',
       'Papaya_Raw', 'Coconut_Ripe', 'Apple_Raw', 'Banana_Ripe',
       'Mango_Ripe', 'Mango_Raw', 'Coconut_Raw', 'Guava_Raw',
       'Pomengranate_Raw', 'Leeche_Ripe', 'Banana_Raw', 'Orange_Raw',
       'Orange_Ripe', 'Banana_Raw', 'Banana_Raw', 'Mango_Ripe',
       'Apple_Ripe', 'Guava_Raw', 'Banana_Ripe', 'Leeche_Ripe',
       'Banana_Raw', 'Papaya_Ripe', 'Pomengranate_Raw', 'Apple_Ripe',
       'Papaya_Raw', 'Orange_Ripe', 'Apple_Ripe', 'Leeche_Raw',
       'Pomengranate_Ripe', 'Strawberry_Ripe', 'Coconut_Ripe',
       'Banana_Ripe', 'Mango_Raw', 'Mango_Raw', 'Orange_Ripe',
       'Pomengranate_Ripe', 'Banana_Ripe', 'Orange_Raw', 'Strawberry_Raw'],
      dtype=object)